* {
  padding: 0;
  margin: 0;
  background-color: powderblue;
}

.head,
.rules-top {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head h1 {
  margin: 50px;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

.main {
  margin: 50px;
}
.one {
  margin-bottom: 20px;
}
